# Python
__pycache__/
*.py[cod]
.pytest_cache/

# Terraform
.terraform/
infra/aws/.terraform/
*.tfstate
*.tfstate.*
crash.log
tfplan
*.tfplan

# Logs
logs/
*.log

# Python
.venv/

# Environment
.env

# VSCode
.vscode/settings.json